@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@font-face {
    font-family: 'Beyond';
    src: url(../font/beyond_the_mountains.otf) format('truetype'), url(../font/beyond_the_mountains.ttf) format('opentype')
}


.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)),url("/assets/images/bg_header.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.header-topbar{
    background: rgb(53, 10, 78);
    height: 36px;
}

.header-topbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100%;
}

.header-topbar__contact ul,
.header-topbar__login ul{
    display: flex;
}

.header-topbar__contact li,
.header-topbar__login li{
    padding: 0 10px;
}

.header-topbar__contact li:hover a,
.header-topbar__login li:hover a{
    color: #fa9e1b;
}

.header-topbar__contact .phone{
    margin-right: 20px;
}

.header-topbar__contact a ,
.header-topbar__login a{
    text-decoration: none;
    color: #fff;
    font-size: 10px;
}


.header-topbar__login a{
    text-transform: uppercase;
}

.header-topbar__login li:first-child{
    border-right: 1px solid #fff;
}

.header-nav{
    background: rgba(54, 19, 84, 0.8);
    color: #fff;
}

.header-nav-container {
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-nav__logo a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}

.header-nav__logo img{
    margin-right: 10px;
}

.header-nav__list ul{
    display: flex;
}

.header-nav__item{
    margin: 0 20px;
}

.header-nav__item a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

.header-nav__search{
    position: relative;
    text-align: right;
    width: 100%;
}

.header-nav__search:hover{
    color: #fa9e1b;
}

.header-nav__search i{
    font-size: 19px;
    cursor: pointer;
}

.header-nav__search-input{
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(100% + 10px);
    left: 0;
    padding: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    animation: searchInputFadeIn linear 0.3s;
}

.header-nav__control{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-mb-bars__label{
    padding: 12px;
    margin-left: 12px;
    font-size: 18px;
}

.header-mb-bar__content{
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    max-width: 400px;
    background: linear-gradient(-300deg, rgb(250, 158, 27), rgb(141, 79, 255));
    z-index: 101;
    opacity: 0;
    display: none;
    transform: translateX(100%);
    animation: mbBarIn linear .3s;
}

#header-mb-bar__checkbox:checked~.header-mb-bar__content{
    opacity: 1;
    display: block;
    transform: translateX(0);    
}


.header-mb-bar__close{
    position: absolute;
    right: 10px;
    font-weight: 700;
    font-size: 30px;
    padding: 12px;
    color: #fff;

}

.header-mb-bar__list{
    margin-top: 50px;
    width: 100%;
}

.header-mb-bar__link{
    display: block;
    width: 100%;
    font-size: 25px;
    padding: 16px 40px;
    color: #fff;
    font-family: Beyond;
}

.header-mb-bar__overlay{
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
    animation: fadeIn linear .3s;
}


#header-mb-bar__checkbox:checked~.header-mb-bar__overlay{
    display: block;
}

.header-slider{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-slider__content{
    text-align: center;
    margin-bottom: 40px;
    cursor: default;
}

h1.header-slider__heading{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 92px;
    color: #fff;
}

span.header-slider__heading{
    color: #fff;
    font-size: 80px;
    font-family: Beyond;
}


.container{

}

.search{
    position: relative;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    width: 100%;
}

.search-header{
    position: relative;   
}

.search-header__list{
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 50px;
}

.search-header__item,
.search-container__item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;    
    flex: 1;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.search-header__item:first-child{
    border-top-left-radius: 100px;
}
.search-header__item:last-child{
    border-top-right-radius: 100px;
}

.search-header__item:hover{
    color: #fff;
    background: #fa9e1b;
}

.search-header__item:hover img{
    filter: brightness(200%) grayscale(100%);
}


.search-header__item img,
.search-container__item img{
    margin-right: 10px;
}

.search-container{
    padding: 60px 0;
}

.search__label{
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
}

.search__input{
    padding: 15px;
    outline: none;
    border: none;
    font-size: 15px;
    width: 100%;
}

.search-button{
    text-transform: uppercase;
    color: #fff;
    font-family: unset;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 15px 20px;
    background: #31124b;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-top: 40px;
    width: 100%;    
    cursor: pointer;
}

.search-container__list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 50px;
    margin-bottom: 40px;
}

.search-container__item{
    height: 60px;
    margin-bottom: 10px;
}

.tours{
    margin: 80px 0;
}

.tours-title{
    font-size: 32px;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

.tours-text{
    font-size: 24px;
    text-align: center;
    color: #919191;
    font-style: italic;
    margin-bottom: 30px;
}

.tours-item{      
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
    margin-bottom: 50px;
    border-radius: 10px;
    overflow: hidden;
}

.tours-item__container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(49, 18, 75, .55);;
}

.tours-item__time{
    text-align: center;
    font-size: 13px;
    color: #fff;
    background: #fa9e1b;
    min-width: 210px;
    padding: 4px 20px;
    border-radius: 20px;
}

.tours-item__content{
    text-align: center;
}

.tours-item__title{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.tours-item__price{
    font-size: 14px;
    color: #fff;   
    margin-bottom: 10px; 
}

.tours-item__rating,
.package-rating,
.offers-item__rating{
    font-size: 18px;
}

.tours-item__rating i:nth-child(1),
.package-rating i:nth-child(1),
.offers-item__rating i:nth-child(1){
   color: #ffeb8d;
}
.tours-item__rating i:nth-child(2),
.package-rating i:nth-child(2),
.offers-item__rating i:nth-child(2){
   color: #fbe274;
}
.tours-item__rating i:nth-child(3),
.package-rating i:nth-child(3),
.offers-item__rating i:nth-child(3){
   color: #ffe056;
}
.tours-item__rating i:nth-child(4),
.package-rating i:nth-child(4),
.offers-item__rating i:nth-child(4){
   color: #ffd92f;
}

.package{
    background-image: linear-gradient(90deg, rgba(240, 152, 29, 0.7), rgba(141, 89, 236, 0.6)),url(/assets/images/packagebg.webp);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

.package-container{
    background-color: #fff;
    padding: 60px 50px;
    text-align: center;
}

.package-title,
.offers-title,
.about-title,
.trending-title{
    font-size: 32px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.package-rating{
    text-align: center;
    margin-bottom: 14px;    
}

.package-desc{
    font-size: 14px;
    text-align: center;
    color: #a5a5a5;
    font-style: italic;
    margin-bottom: 50px;
    padding: 0 20px;
    line-height: 2;
}

.offers{
    padding: 60px 0;
    background: #f3f6f9;
}

.offers-item{
    display: flex;
    margin-bottom: 20px;
}

.offers-item__background{   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50%;
    padding-top: 60%;
    position: relative;
    border-radius: 10px;
}

.offers-item__name{
    background: #fa9e1b;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 14px;
    font-weight: 700;
    position: absolute;
    bottom: 10%;
    left: 0;
}

.offers-item__container{   
    margin-left: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offers-item__price{
    font-size: 36px;
    color: #eda84a;
}

.offers-item__price span{
    font-size: 14px;
    color: #919191;
}

.offers-item__desc{
    font-size: 14px;
    color: #919191;
    line-height: 2;
    margin-top: 10px;
}

.offers-item__action{
    margin-top: 10px;
}

.offers-item__action img{
    margin-left: 10px;
}

.offers-item__link{
    text-decoration: none;
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 700;
}

.about{
    padding: 90px 0;
}

.about-item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130%;
    position: relative;
    border-radius: 10px;    
}

.about-content{
    padding-top: 40px;
}

.about-item__icon{
    background: #fa9e1b;
    position: absolute;
    top: -7%;
    left: 13%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.about-item__icon:hover{    
    filter: brightness(120%);
}

.about-item__content{
    background: #31124bcc;
    color: #fff;
    font-size: 14px;
    padding: 0 40px;
    position: absolute;
    bottom: 0;
    height: 50%;
    border-bottom-left-radius: 10px;    
    border-bottom-right-radius: 10px;    

}

.about-item__header{
    position: absolute;
    top: -12%;
    left: 13%;
    padding: 8px 12px;
    background-color: #fff;
   
}

.about-item__name{
    font-size: 14px;
    color: #2d2d2d;
}

.about-item__date{
    font-size: 11px;
    color: #2d2d2d;
}

.about-item__body span{
    display: block;
    font-size: 20px;
    margin: 35px 0 10px;
}

.about-item__body p{
    font-size: 14px;
    line-height: 2;   
 }

 .trending{
    margin-top: 50px;
    position: relative;
 }

 .trending::before{
    position: absolute;
    content: "";
    top: -50px;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);;
 }

 .trending-item{
    display: flex;
    margin-bottom: 20px;
 }
 .trending-item__background{
    overflow: hidden;
    border-radius: 10px;   
 }

 .trending-item__background img{
     width: 82px;
     height: 76px;
 }

.trending-item__background:hover img{   
    transition: transform ease .3s;
    transform: rotate(5deg) scale(1.2);
}

.trending-item__content{
    margin-left: 10px;
}

.trending-item__title{
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
}

.trending-item__price{
    font-size: 14px;
    color: #fa9e1b;
    margin: 5px 0;
    font-weight: 600;
    line-height: 2;
}

.trending-item__name{
    font-size: 15px;
    color: #ccc;
    text-transform: uppercase;
}

.contact{
    position: relative;
    margin-top: 50px;
}

.contact-background{
    background-image: url(/assets/images/contactbg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 105%;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.contact-container{
    position: relative;
    z-index: 2;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    padding: 80px 50px;
    border-radius: 10px;
    color: #fff;
}

.contact-title{
    font-size: 30px;
    text-transform: uppercase;
}

.contact-form{
    margin-top: 50px;
}

.contact-form input,
.contact-form textarea{
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    margin: 0 10px 20px 0;
    padding: 8px 12px;
    border-bottom: #fff solid 1px;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color: #fff;
    text-align: start;
}

.contact-input1{
    width: 100%;
}

.contact-input__button{
    text-transform: uppercase;
    color: #fff;
    font-family: unset;
    font-size: 14px;
    text-align: center;
    padding: 15px 30px;
    background: #31124b;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-top: 40px;
    cursor: pointer;
}

.footer-logo a{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}

.footer{
    background-color: #31124b;
    color: #fff;
}

.footer-container{
    padding-top: 50px;
}

.footer-item__name{
    display: flex;
    align-items: flex-end;
    height: 47px;
    font-size: 15px;
    text-transform: uppercase;
}

.footer-logo img{
    margin-right: 10px;
}

.footer-item__content{
    margin-top: 20px;
}

.footer-desc{
    line-height: 2;
}

.footer-social-list{
    display: flex;
    margin-top: 20px;
}

.footer-social-list li{
    height: 30px;
    width: 30px;
    border: #fa9e1b solid 1px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-list li:hover{
    background-color: #fa9e1b;
}

.footer-social-list li:hover a{
    color: #000;
}

.footer-social-list a{
    color: #fff;
}

.footer-blog__item{
    display: flex;
    margin-bottom: 20px;
}

.footer-blog__img{
    height: 60px;
    width: 60px;
}

.footer-blog__content{
    margin-left: 10px;
}

.footer-blog__name{
    font-size: 14px;
    line-height: 1.5;
}

.footer-blog__name:hover{
    color: #fa9e1b;
    cursor: pointer;
}

.footer-blog__date{
    font-size: 12px;
    color: #fa9e1b;
}

.footer-tag__links{
    display: inline-block;
    padding: 6px 20px;
    border: #fa9e1b solid 1px;
    margin: 0 8px 10px 0;
    color: #fff;
    font-size: 12px;
}


.footer-tag__links:hover{
    background-color: #fa9e1b;
}

.footer-info__item{
    margin: 24px 0;
    display: flex;
    align-items: center;
}

.footer-info__item-img{
    margin-right: 5px;
    width: 19px;
}

.footer-info__item-content{
    font-size: 14px;
}

.footer-info__item-content:hover{
    color: #fa9e1b;
    cursor: pointer;
}


.footer-copyright{
    text-align: center;
    padding: 30px 0 10px;
    font-size: 14px;
    font-weight: 600;
}

.footer-copyright a{
    color: #fa9e1b;
}